body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  .custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}
.custom-menu-top {
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
}
.custom-menu-screen {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  height: 3em;
  width: 70em;
  position: absolute;
  top: 0;
  z-index: -1;
}

.custom-menu-brand {
  display: block;
  text-align: center;
  position: relative;
}

.custom-menu,
.custom-menu .pure-menu-heading {
    color: white;
}

  
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #searchInput {
    padding: 10px;
    font-size: 18px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
  }
  
  #result {
    margin-top: 20px;
  }
  
  .album, .track {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
    transition: background 0.3s;
  }
  
  .album:hover, .track:hover {
    background: #eee;
  }