:root{
  --darkblue: #133C6B;
  --aqua: #00b69b;
  --light: #FFF3E6;
  --purple: #7F79D1;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--darkblue);
  }
  body{
    padding: 20px 40px;
  }
  
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  #searchInput {
    padding: 10px;
    font-size: 18px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
  }
  .main-title{
    color: var(--aqua);
    font-size: 200%;
    text-decoration: none;
    font-weight: 800;
  }
  .top-bar{
    margin-bottom: 20px;
  }
  .purple-bg{
    background-color: var(--purple);
    padding: 40px;
    border-radius: 8px;
    color: var(--light);
  }
  
  #result {
    margin-top: 20px;
  }
  
  .album, .track {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
    transition: background 0.3s;
  }
  
  .album:hover, .track:hover {
    background: #eee;
  }