:root{
  --darkblue: #133C6B;
  --aqua: #00b69b;
  --light: #FFF3E6;
  --purple: #7F79D1;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--darkblue);
}

body{
    padding: 20px 40px;
  
}

ul{
  list-style-type: none;
  padding-left: 0px;
}

li{
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

li > img{
  max-width: 100px;
  margin-bottom:10px;
  border: 3px solid var(--aqua);
}

h2{
  color: var(--aqua);
}

p{
  color: var(--light);
}

#app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

#searchInput {
    padding: 10px;
    font-size: 18px;
    width: 80%;
    border-radius: 8px;
    border-style: none;
    margin: 20px 0px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 12px;
    background-color: var(--aqua);
    border-radius: 8px;
    border-style: none;
}

.main-title{
    color: var(--aqua);
    font-size: 250%;
    text-decoration: none;
    font-weight: 800;
}

.top-bar{
    margin-bottom: 20px;
}

.float-right{
  float: right;
  min-width: 75%;
}
.callout{
  font-size: 18px;
}

.purple-bg{
    background-color: var(--purple);
    padding: 40px;
    border-radius: 8px;
    color: var(--light);
    min-height: fit-content;
    margin-bottom: 40px;
}

.headphones{
  max-width: 50px;
}

#result {
  margin-top: 20px;
}

.recent-search-item{
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 800;
  color: var(--aqua);
  background-color: #133C6B;
  padding:12px;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
}

#showMoreButton{
  background-color: var(--purple);
  font-size: 16px;
  text-decoration: underline;
  padding: 0px;
  text-align: start;
  cursor: pointer;
}

.track {
    cursor: pointer;
    padding: 5px;
    margin: 10px 0px !important;
    transition: background 0.3s;
    color: var(--darkblue);
    font-weight: normal;
}
.tracks{
  list-style-type: disc !important;
  
}
.album{
  cursor: pointer;
  padding: 10px;
  margin-bottom:20px;
  transition: background 0.3s;
  color: var(--darkblue);
  font-weight: bold;
  
}

.hot-track{
  color: var(--light);
  margin-bottom: 24px;
  background-color: var(--purple);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 15%;
  cursor: pointer;
}

.hot-track > img{
  max-width: 100px;
  margin-bottom:20px;
  border: 3px solid var(--aqua);
}

.album:hover, .track:hover {
    background: #eeeeee9f;
}
.track-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px !important;
}
.youtube-link{
  margin-top: 16px;
}
.album-container{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px){
  .hot-track{
    width: 40%;
  }
}

@media screen and (max-width: 475px){
  .hot-track{
    width: 100%
  }
  h1{
    font-size: 24px;
  }
}